<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Before_Joining_Practice/src/com/nekonisi/sample6/Step6.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.nekonisi.sample6.Step6"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Before_Joining_Practice"/>
</launchConfiguration>
